/* Variables */
:root {
  --main-color: #ec1c23;
  --second-color: #08526d;
  --p-color: #777;
  --section-color: #e0e8ef;
}
/* Start components */
html {
  scroll-behavior: smooth;
}
.section-heading {
  margin: 20px;
  letter-spacing: 8px;
  font: bold 3rem arial;
}
.section-p {
  width: 60%;
  margin: 15px auto;
  color: var(--p-color);
}
@media (max-width: 575px) {
  .section-heading {
    font: bold 2.5rem arial;
  }
  .section-p {
    width: 100%;
  }
}
/* End components */
/* Start upper-bar */
.upper-bar {
  background-color: var(--second-color);
  padding: 5px;
  color: white;
}
.upper-bar .row .info {
  margin: 5px 0;
}
.upper-bar span {
  color: #bfc6c9;
}
.upper-bar .quote {
  display: inline-block;
  border: 1px solid var(--main-color);
  padding: 2px 10px;
  margin-left: 20px;
}

/* End upper-bar */
/* Start nav*/
.navbar {
  padding: 0;
}
.navbar-brand span {
  font-size: 35px;
}
.navbar-brand span:first-child {
  color: var(--second-color);
  font-weight: bold;
}
.navbar-brand span:last-child {
  color: var(--main-color);
}
.navbar-light .navbar-nav .nav-link {
  margin-left: 15px;
  font-size: 18px;
  color: var(--second-color);
  font-weight: 500;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--main-color);
  font-weight: 500;
}
/* End nav */
/* Start slider */
.slider {
  width: 100%;
}
.slider .overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
  z-index: 2;
  position: absolute;
}
.slider .carousel-inner {
  display: flex;
  align-items: center;
}
.slider .carousel-inner h1 {
  position: absolute;
  z-index: 2;
  color: #fff;
  line-height: 1.5;
  font-size: 3rem;
  left: 10%;
}
@media (max-width: 768px) {
  .slider .carousel-inner h1 {
    font-size: 2rem;
    left: 20%;
  }
}
@media (max-width: 575px) {
  .slider .carousel-inner h1 {
    font-size: 1.5rem;
    left: 20%;
  }
}
.slider .carousel-inner h1 span {
  background-color: var(--main-color);
  padding: 0 10px;
}
.slider .carousel-item {
  background-size: cover;
}
.item-1 {
  background-image: url(../img/landing-1.jpg);
}
.item-2 {
  background-image: url(../img/landing-2.jpg);
}
.item-3 {
  background-image: url(../img/landing-3.jpg);
}
.carousel-control-prev,
.carousel-control-next {
  z-index: 2;
}
/* End slider */
/* Start features */
.features {
  margin-top: 20px;
}
.features .container svg {
  background-color: var(--main-color);
  padding: 10px;
  color: white;
  width: 60px;
  height: 60px;
}
.features h4 {
  color: var(--second-color);
  margin: 5px 0px;
}
.features p {
  color: var(--p-color);
  margin-bottom: 30px;
}
/* End features */
/* Start overview */
.overview {
  margin-top: 25px;
  background-color: var(--section-color);
  padding: 30px 0;
}
.overview h5 {
  color: #525252;
  line-height: 1;
  letter-spacing: 2px;
}
.overview button {
  margin: 15px;
  background-color: var(--main-color);
  color: white;
  border: none;
  letter-spacing: 3px;
  padding: 3px 10px;
}
@media (max-width: 575px) {
  .overview h1 {
    font-size: 1.5rem;
  }
  .overview h5 {
    font-size: 1rem;
  }
}
/* End overview */
/* Start featured work */
.featured-work {
  padding: 30px 0 0;
}
.featured-work ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.featured-work ul li {
  border: 2px solid var(--second-color);
  padding: 2px 10px;
  width: auto;
  margin: 5px;
  color: var(--second-color);
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.featured-work ul li.active,
.featured-work ul li:hover {
  background-color: var(--main-color);
  color: white;
  border: 2px solid var(--main-color);
}
.featured-work .row {
  margin: 0;
}
.featured-work .row .col-sm-6 {
  padding: 0;
  overflow: hidden;
}
.featured-work .row img {
  width: 100%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.featured-work .row img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
/* End featured work */
/* Start latest posts */
.latest-post {
  background-color: var(--section-color);
  padding: 30px 0;
}
.latest-post .row {
  justify-content: center;
}
.latest-post .card {
  margin-bottom: 20px;
}
.latest-post .card .card-title {
  color: var(--second-color);
}
.latest-post .card .card-link {
  color: var(--main-color);
}
/* End latest posts */
/* Start testimonials */
.testimonials {
  position: relative;
  background-size: cover;
  background-image: url(../img/landing-3.jpg);
}
.testimonials .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 60%);
  z-index: 2;
}
#testimonials .carousel-inner {
  display: flex;
  align-items: flex-end;
  padding: 50px 0;
}
#testimonials .carousel-item {
  z-index: 2;
  color: white;
  width: 70%;
  text-align: center;
  left: 15%;
}
#testimonials .carousel-item img {
  width: 100px !important;
  height: 100px !important;
  border-radius: 50%;
  margin-bottom: 20px;
}
#testimonials .carousel-item span {
  display: inline-block;
  margin-bottom: 30px;
}
/* End testimonials */
/* Start pricing taple */
.pricing-taple {
  background-color: var(--section-color);
  padding: 30px 0;
}
.pricing-taple .row {
  justify-content: center;
  margin-top: 40px;
}
.pricing-taple .card {
  padding: 30px 0;
  margin-bottom: 20px;
}
.pricing-taple .card .card-body {
  padding: 0;
}

.pricing-taple .card .card-title {
  color: var(--second-color);
}
.pricing-taple .card h1 {
  color: var(--second-color);
  margin: 20px 0;
  padding: 5px;
  background-color: #f9f9f9;
}
.pricing-taple .card h1 span {
  font-size: 1rem;
}
.pricing-taple .card li {
  color: var(--p-color);
}
.pricing-taple .card .list-group-item {
  border: none;
}
.pricing-taple .card .btn {
  background-color: var(--main-color);
  color: white;
  margin: 10px 0;
  padding: 5px 20px !important;
  border-radius: 0;
}
.pricing-taple .col-sm-6:nth-child(2) .card h1 {
  color: white;
  background-color: var(--main-color);
}
.pricing-taple .col-sm-6:nth-child(2) .card .btn {
  color: white;
  background-color: var(--second-color);
}
@media (min-width: 992px) {
  .pricing-taple .col-sm-6:nth-child(2) .card {
    margin-top: -20px;
  }
}
/* End pricing taple */
/* Start choose us */
.choose-us .row > * {
  padding: 0;
}
@media (min-width: 576px) {
  .choose-us .col-lg {
    max-height: 80vh;
    overflow: hidden;
  }
}
.choose-us img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}
.choose-us .col-lg:last-child {
  background-color: var(--second-color);
  color: white;
}
.choose-us .container {
  margin: 10% 0 10% 10%;
  padding: 0;
  max-width: 80%;
}
.choose-us .container h1 {
  font-weight: bold;
  margin: 0 0 5%;
}
.choose-us .container p {
  line-height: 1.6;
  font-size: 18px;
}
.choose-us .container button {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 5px 15px;
}
/* ÙEnd choose us */
/* Start statistics */
.statistics {
  margin: 50px 0;
}
.statistics .col-sm-6 {
  margin-bottom: 10px;
  color: var(--second-color);
}
.statistics .col-sm-6 h4 {
  font-size: 18px;
  color: var(--main-color);
  text-transform: uppercase;
}
/* End statistics */
/* Start contact-us */
.contact-us {
  background-color: var(--main-color);
  color: white;
  padding: 40px 0;
  font-size: 20px;
  letter-spacing: 2px;
}
@media (max-width: 768px) {
  .contact-us .row :first-child {
    margin-bottom: 15px;
  }
}
.contact-us p {
  margin: 0;
}
.contact-us a {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 5px 15px;
}
/* End contact-us */
/* Start footer */
footer {
  padding: 30px 0;
}
/* .footer .navbar-brand {
  margin-bottom: 20px;
} */
footer .site-info p {
  color: var(--p-color);
  margin-top: 10px;
  line-height: 2;
}
footer .site-info svg {
  color: var(--second-color);
  margin: 0 5px 0 0;
}
footer h3 {
  color: var(--second-color);
  margin: 15px 0 20px;
}
footer .helpful-links .row {
  margin: 0;
}
footer .helpful-links li {
  color: var(--second-color);
  line-height: 1.6;
  position: relative;
  cursor: pointer;
}
footer .helpful-links li::before {
  content: "";
  border-width: 6px;
  border-style: solid;
  position: absolute;
  border-color: transparent transparent transparent #08526d;
  left: -10px;
  top: 6px;
}
footer .contact li {
  color: var(--p-color);
  line-height: 2;
}

/* End footer */
/* Start copyrigth */
.copyrigth {
  padding: 20px 0;
  border-top: 2px solid #ddd;
}
.copyrigth ul {
  margin: 0;
}
.copyrigth ul li {
  display: inline-block;
  margin-left: 15px;
  font-size: 20px;
}
.copyrigth ul li > * {
  color: #6b6b6b;
}
.copyrigth ul li .fa-facebook:hover {
  color: #0f90f3;
}
.copyrigth ul li .fa-twitter:hover {
  color: #00a9e8;
}
.copyrigth ul li .fa-youtube:hover {
  color: #f70000;
}
.copyrigth ul li .fa-google-plus:hover {
  color: #ca1e1c;
}
/* End copyrigth */
/* Start made by */
.made-by {
  padding: 15px 0;
  border-top: 2px solid #ddd;
  color: wheat;
  background-color: #263238;
}
.made-by ul {
  margin: 0;
}
.made-by ul li {
  display: inline-block;
  margin-left: 15px;
  font-size: 22px;
}
.made-by ul li > * {
  color: #6b6b6b;
}
.made-by ul li .fa-facebook:hover {
  color: #0f90f3;
}
.made-by ul li .fa-twitter:hover {
  color: #00a9e8;
}
.made-by ul li .fa-whatsapp:hover {
  color: #4bc658;
}
.made-by ul li .fa-linkedin:hover {
  color: #0270ad;
}
.made-by ul li .fa-google-plus:hover {
  color: #ca1e1c;
}
/* End made by */
